.check-box .box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.check-box:selected .mark {
    -fx-background-color: black;

}
